.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  height: 48px;

  padding: 0 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 0 0 6px 6px;

  background-color: rgb(183, 183, 181);
}

.headerTitle {
  font-size: 24px;
  font-weight: 600;

  cursor: pointer;
}
